* {
  box-sizing: border-box;
}

.card {
  width: 100%;
  min-height: 160px;
  max-width: 240px;
  border: solid #006C7F;
  border-width: 1px;
  border-radius: 3px;
  background-color: #006C7F;
  color: white;
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 13px;
}

#login-prompt {
  background-color: #006C7F;
  float: right;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


