* {
  box-sizing: border-box;
}

form[name="loginForm"] {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.login-label {
  min-width: 80px;
  width: 80px;
  font-size: 20px;
  text-align: right;
  margin-right: 8px;
  margin-top: 10px;
}

.email, .password {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  flex-grow: 1;
  font-size: 20px;
  text-align: left;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

.login-btn {
  align-self: flex-end;
  width: 80px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 18px;
  background: white;
  margin-bottom: 20px;
}

.demo {
  font-weight: bolder;
  line-height: 5px;
}

