* {
  box-sizing: border-box;
}

form[name="loginForm"] {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 5px;
  margin-left: 20%;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.login-label {
  min-width: 180px;
  width: 180px;
  font-size: 20px;
  text-align: right;
  margin-right: 5px;
  margin-top: 10px;
}

.email, .password {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  flex-grow: 1;
  font-size: 20px;
  text-align: left;
}

.login-btn {
  align-self: flex-end;
  width: 80px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 18px;
  background: white;
}

