* {
  box-sizing: border-box;
  text-align: center;
}

a.terms-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 12px;
  padding: 2px;
}

.title-wrapper {
  margin-top: 60px;
  text-align: center;
}

.terms {
  margin-bottom: 10px;
  text-align: center;
}

.search-input {
  display: inline-block;
  margin: 0 auto;
  width: 230px;
  text-align: left;
}

::placeholder {
  color: lightgray;
}

.terms-btn {
  margin-left: 5px;
}

.input-container {
  width: 300px;
  margin: auto;
}

.poweredby {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
}
