* {
  box-sizing: border-box;
}

li, ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.results {
  margin-top: 40px;
}

.book {
  width: 100%;
  max-width: 250px;
  height: 240px;
  border: solid lightgray;
  border-width: 1px;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 10px;
}

.upper-wrapper {
  position: relative;
  height: 100px;
}

.img-container {
  width: 80px;
  height: 100px;
  border: 1px solid lightgrey;
  padding: 0px;
  float: left;
  margin: 0 5px 5px 0;
}

.thumbnail {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.title {
  margin: 0;
  height: 50px;
  white-space: pre-wrap;
  overflow: auto;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.author {
  margin: 5px;
  font-size: 10px;
  height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.isbn {
  font-size: 8px;
  text-align: left;
}

.note-wrapper {
  margin-top: 30px;
  position: absolute;
}

.note-label {
  font-size: 14px;
  display: block;
  text-align: left;
  font-weight: bold;
}

.new-note {
  display: block;
  width: 95%;
  border-radius: 3px;
  border-color: lightgray;
  text-align: left;
}

.saved-note {
  display: block;
  height: 35px;
  width: 95%;
  border-radius: 3px;
  border-color: lightgray;
  text-align: left;
}

.list-title {
  text-align: left;
}

.saved {
  margin-top: 40px;
  display: inline-block;
  font-size: 16px;
  background-color: #006C7F;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.save-btn {
  margin: auto;
  font-size: 12px;
}
