* {
  box-sizing: border-box;
}

.hero {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.tome-title {
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 0;
  font-size: 60px;
}

.tagline {
  margin-top: 0;
  font-family: 'Ovo', serif;
  font-size: 20px;
}
