* {
  box-sizing: border-box;
}

.hero {
  text-align: center;
}

.tome-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  margin-bottom: 0;
}

.tagline {
  font-size: 20px;
  margin-top: 0;
  font-family: 'Ovo', serif;
}
